

.selection{
   
}
.select_container{
    // padding-top: 50vh;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // left: 50%;
    // position: absolute;
    .base-MenuButton-root{
        margin: 0 30px ;
    }
}
.start_btn{
    color: whitesmoke;
    background-color: rgb(23, 179, 23);
    padding: 10px 30px;
    border-radius: 10px;
}
.scroll{
    // height: 50 vh;
    overflow-y: auto !important;
    max-height: 40vh !important;
    scrollbar-width: thin !important; 
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}