.survey{
    // position: relative;
}
.question_block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.ttt{
   display: flex;
   justify-content: flex-end;
   padding: 30px 30px 0 0;
}
.input_question{
    display: flex !important;
    justify-content: center;
    margin: 0 auto !important;
    width: 30vw;
    
    // background-color: forestgreen ;
    &::placeholder {
        color: red !important;
        opacity: 1 !important; /* Firefox */
      }
    input{
        color: white !important;
    }
   label{
    color: rgb(0, 155, 176) !important;
    
   }
}
.css-z3neuw:hover:not(.Mui-disabled, .Mui-error)::before{
    border-bottom:2px solid rgb(0, 155, 176) !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root{
    // border-bottom:2px solid rgb(0, 155, 176) !important;
    &::before{
        border-bottom:2px solid rgb(0, 155, 176) !important;
    }
    &::after{
        border-bottom:2px solid orange !important;
    }

}
label[data-shrink="true"] {
    color: orange !important;
  }

.input_send{
    display: flex !important;
    justify-content: center !important;
    font-size: 1.875rem !important;
    align-items: center;
    // background-color: aliceblue;
    margin: 40px auto 0 !important;
    border-radius: 20px;
    padding: 5px 30px !important;
    // margin-top: 40px !important;
}
.question{
    overflow-wrap: break-word;
    padding-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}
